## Linear model using scikit-learn

We'll practice using a scikit-learn model for linear regression. You will do something similar in this week's assignment (but with a logistic regression model).

[sklearn.linear_model.LinearRegression()](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html)

In [1]:
# Import the module 'LinearRegression' from sklearn
from sklearn.linear_model import LinearRegression

In [2]:
model = LinearRegression()
model

LinearRegression()

Generate some data by importing a module 'load_data', which is implemented for you.  The features in `X' are: 

- Age: (years)
- Systolic_BP: Systolic blood pressure (mmHg)
- Diastolic_BP: Diastolic blood pressure (mmHg)
- Cholesterol: (mg/DL)

The labels in `y` indicate whether the patient has a disease (diabetic retinopathy).
- y = 1 : patient has retinopathy.
- y = 0 : patient does not have retinopathy.

In [5]:
from utils import load_data
X, y = load_data(100)
X.head()

         Age  Systolic_BP  Diastolic_BP  Cholesterol
0  77.196340    78.379387     86.862625    83.344731
1  63.529850    85.439716     77.288707   107.483614
2  69.003986    98.406978     85.411057   118.495893
3  82.638210   100.362697     71.119650    87.737132
4  78.346286   121.854369     92.013270    99.121558